In [1]:
from src_components.data_load.load_duckdb import get_database_connection

In [2]:
import duckdb
import pandas as pd
%load_ext sql

In [3]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [4]:
%sql duckdb:////Users/Ashwin/Desktop/repos/cpz-citibike/src/src_components/data_transform/dev.duckdb

In [5]:
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', None)

### Access the database with SQL

In [6]:
%%sql
select max(started_at) from fct_citibike_rides

      max(started_at)
0 2025-05-31 23:58:06

### Access the database with Python

In [ ]:
with duckdb.connect(database='/Users/ashwin/Desktop/cpz_citibike/src/src_components/data_transform/dev.duckdb', read_only=True) as conn:
    conn.sql("select * from staging.\"202307_citibike_tripdata_4\" where ride_id = 'C2BABCB05E7B37B6'").show()

┌──────────────────┬───────────────┬─────────────────────────┬─────────────────────────┬───────────────────────────────┬──────────────────┬────────────────────┬────────────────┬───────────────────┬────────────────────┬─────────────┬──────────────┬───────────────┐
│     ride_id      │ rideable_type │       started_at        │        ended_at         │      start_station_name       │ start_station_id │  end_station_name  │ end_station_id │     start_lat     │     start_lng      │   end_lat   │   end_lng    │ member_casual │
│     varchar      │    varchar    │         varchar         │         varchar         │            varchar            │     varchar      │      varchar       │    varchar     │      double       │       double       │   double    │    double    │    varchar    │
├──────────────────┼───────────────┼─────────────────────────┼─────────────────────────┼───────────────────────────────┼──────────────────┼────────────────────┼────────────────┼───────────────────┼────────────────────┼─────────────┼──────────────┼───────────────┤
│ C2BABCB05E7B37B6 │ electric_bike │ 2023-07-09 11:32:41.896 │ 2023-07-09 11:42:48.435 │ Washington St & Gansevoort St │ 6039.06          │ E 14 St & Avenue B │ 5736.09        │ 40.75009106666667 │ -73.93967853333334 │ 40.72938685 │ -73.97772429 │ member        │
└──────────────────┴───────────────┴─────────────────────────┴─────────────────────────┴───────────────────────────────┴──────────────────┴────────────────────┴────────────────┴───────────────────┴────────────────────┴─────────────┴──────────────┴───────────────┘

Sometimes you'll get a weird transaction failure in DuckDB. Executing the statement below usually does the trick to get the database to a usable state.

In [ ]:
# %%sql
# ROLLBACK;